{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "singleQuote": false,
    "htmlWhitespaceSensitivity": "css",
    "embeddedLanguageFormatting": "auto"
}
